@font-face {
    font-family: "Inconsolatabl";
    src: url("./Inconsolata-Black.ttf");
}
@font-face {
    font-family: "Inconsolatab";
    src: url("./Inconsolata-Bold.ttf");
}@font-face {
    font-family: "Inconsolataeb";
    src: url("./Inconsolata-ExtraBold.ttf");
}@font-face {
    font-family: "Inconsolatal";
    src: url("./Inconsolata-ExtraLight.ttf");
}@font-face {
    font-family: "Inconsolatal";
    src: url("./Inconsolata-Light.ttf");
}@font-face {
    font-family: "Inconsolatam";
    src: url("./Inconsolata-Medium.ttf");
}@font-face {
    font-family: "Inconsolata";
    src: url("./Inconsolata-Regular.ttf");
}
@font-face {
    font-family: "Inconsolatasb";
    src: url("./Inconsolata-SemiBold.ttf");
}
@font-face {
    font-family: "Inconsolatael";
    src: url("./Inconsolata-ExtraLight.ttf");
}