section:nth-child(2) {
    padding: 0 50px;
}
section:nth-child(2)>div:nth-child(2) {
    display: flex;
}
.ldr-dot, .ldr-lin {
    width: 100%;
}
.ldr-dot>div, .ldr-lin>div {
    display: flex;
    padding: 5px 0;
}
.ldr-dot {
    margin: 0 50px 0 0;
}
.ldr-dot>div>div, .ldr-lin>div>div {
    display: flex;
    font-family: "Inconsolatab";
}
.ldr-dot>div>div:last-child, .ldr-lin>div>div:last-child {
    padding: 0 0 0 10px;
}
.ldr-dot>div>div>div {
    height: 5px;
    margin: 6.5px 6.5px 6.5px 0;
    width: 5px;
    background-color: rgba(102,102,102,1);
    border-radius: 5px;
}
.ldr-lin>div>div:first-child {
    height: 5px;
    margin: 6.5px 6.5px 6.5px 0;
    width: 210px;
    background-color: rgba(102,102,102,1);
}
.ldr-lin>div>div>div {
    height: 100%;
    background-color: rgba(255,255,255,1);
}